body {
  font-family: fantasy;
  background-image: url(./images/drumkit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-position-y: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: lightgrey;
}
#numBoxes {
  width: 100vw;
  height: 100vh;
  margin-top: 40px;
}
#flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  justify-items: flex-end;
  list-style: none;
  margin-right: 70px;
  flex-wrap: wrap;
}
.box {
  height: 100px;
  width: 100px;
  background: linear-gradient(
    to bottom,
    #333 0%,
    #333 50%,
    #999 50%,
    #999 100%
  );
  border-radius: 10%;
  border: 3px solid black;
  padding-top: 12.5px;
  text-align: center;
  color: #999;
  box-sizing: border-box;
}
hr {
  margin-top: 15px;
  font-weight: 300;
  color: black;
}
.pointer {
  cursor: pointer;
}
p {
  margin-top: -0px;
  color: #333;
}

@media screen and (max-width: 760px) {
  #numBoxes {
    margin-top: 20px;
  }
  .box {
    height: 60px;
    width: 60px;
    font-size: 12px;
    padding-top: 6px;
  }
  hr {
    margin-top: 4px;
  }
}
@media screen and (max-width: 480px) {
  #numBoxes {
    margin-top: 10px;
  }
}
